 <div class="enviado">
 <div class="animate__animated animate__backInUp">
   
             <h1>
             Tus datos fueron enviados  exitosamente!!!
            </h1>      
   
               <div class="volver" class="container-fluid">
          <a class="navbar-brand" href="/">Volver</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    </div>
</div>
