h2 {color: white;display:flex;padding: 80px;margin-left: 500px;
}

span {margin: 0px;padding: 0px;font-size:15px;color: white;
}

.loren , .loren1 {padding: 40px;
    color: rgb(255, 255, 255);font-size: 25px;
}

    
body {background-color:rgb(0, 0, 0);margin: 0px;padding: 0px;
}

#container{display: flex;align-content: space-around;
}

.web{margin-left: 1px;
}

footer {display:block ;background-color:black;color:white;height: 370px;
}

nav {height: 70px;list-style:none;font-size: 30px;margin-top:-40px;
    margin-left: 450px;margin-bottom: 50px;
}

nav ul li   {display: inline-block;padding: 10px;transition: 1s;
          margin: 20px;border-radius: 60px;font-size: 20px;background-color: rgb(76, 181, 28);
          color: white;
}

nav ul li:hover  {background-color: rgb(0, 89, 255);color: white;border-radius: 80px;
    font-size: 40px
}
          
nav ul li a  {color: rgb(255, 255, 255);display: inline-block;padding: 0px;line-height: 50px;
             line-height: 30px;text-decoration: none;
}

footer{text-align: center;background:transparent
}

h2 {margin: 100px 0px 50px;padding: 0px;text-decoration:underline;
}

.logo {height: 100px;width: 100px;padding-top: -80px;
}

.home {display:inline-block;margin-left: -10px;
}

.script {margin: auto;
    padding: auto;
    display: block;
    height: 60px;
    font-family: monospace;
    font-size: 40px;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    border-right: 8px solid;
    width:34ch;
    animation:typing 3.5s steps(40), 
    blink .5s infinite step-end alternate;
    overflow: hidden;
}

    @keyframes typing {from {width:0 ;}}
    
    @keyframes  {border-color : tranparent}

.face {font-size:75px;display: inline;transition: .8s;
    text-decoration: none;padding: 25px;
}

.insta {font-size:75px;display: inline;transition: .8s;
}

.mail{font-size: 30px;transition:.7s;
}

.mail:hover {font-size: 26px;color: rgb(255, 0, 0);
}


.dire {font-size: 10px
}